
body{
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
}

h2{
    color: #ffd633;
    font-size: 50px;
    text-shadow: 4px 4px 0px #000;
    margin-bottom: 40px;
}

input{
    width: 320px;
    padding: 15px;
    margin: 10px;
    border: 3px solid #000;
    border-radius: 12px;
    font-size: 22px;
    background-color: #fff8dc;
    box-shadow: 4px 4px 0px black;
}

button{
    margin-top: 25px;
    padding: 15px 50px;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 12px;
    background-color: #ff4d6d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 0px black;
    transition: 0.2s;
}

button:hover{
    transform: scale(1.05);
    background-color: #ff758f;
}

#result{
    margin-top: 30px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 3px 3px 0px black;
}